/* Round circle in orange color */
.circle-container {
  position: relative;
  /* 1 */
  width: 28em;
  height: 28em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* 2 */
  box-sizing: content-box;
  /* 3 */
  margin: 5em auto 0;
  border: solid 5px tomato;
}
.circle-container > * {
  /* 4 */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5em;
  height: 5em;
  margin: -3em;
}

/* Images to display in circle */
.circle-container > :nth-of-type(1) {
  transform: rotate(0deg) translate(10em) rotate(-0deg);
}
.circle-container > :nth-of-type(2) {
  transform: rotate(90deg) translate(10em) rotate(-90deg);
}
.circle-container > :nth-of-type(3) {
  transform: rotate(180deg) translate(10em) rotate(-180deg);
}
.circle-container > :nth-of-type(4) {
  transform: rotate(270deg) translate(10em) rotate(-270deg);
}
/* arrow animation */
.circle-container-animation > :nth-of-type(1) {
  transform: rotate(90deg) translate(7em) rotate(-0deg);
}
.circle-container-animation > :nth-of-type(2) {
  transform: rotate(-90deg) translate(4em) rotate(-180deg);
}
.circle-container-animation > :nth-of-type(3) {
  transform: rotate(270deg) translate(1em, -5em) rotate(-270deg);
}
.circle-container-animation > :nth-of-type(4) {
  transform: rotate(270deg) translate(2em, 5em) rotate(-270deg);
}
/* Lables to display values */
.circle-container-lbl > :nth-of-type(1) {
  transform: rotate(90deg) translate(7em) rotate(-90deg);
}
.circle-container-lbl > :nth-of-type(2) {
  transform: rotate(-90deg) translate(3em, 1em) rotate(-270deg);
}
.circle-container-lbl > :nth-of-type(3) {
  transform: rotate(270deg) translate(1em, -3em) rotate(-270deg);
}
.circle-container-lbl > :nth-of-type(4) {
  transform: rotate(250deg) translate(-1em, 5em) rotate(-250deg);
}

.circle-container img {
  display: block;
  width: 100%;
  border-radius: 0%;
  /* filter: grayscale(100%); */
}
/* .circle-container img:hover {
  filter: grayscale(0);
} */

/* Energy flow animation */

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow1 {
  transform: rotate(180deg) !important;
  top: 100px;
  left: 32px;
}
.arrow2 {
  transform: rotate(360deg) !important;
  top: -28px;
  left: 40px;
}
.arrow3 {
  transform: rotate(270deg) !important;
  left: -25px;
}
.arrow4 {
  transform: rotate(270deg) !important;
  right: 0;
  left: 110px;
  top: 35px;
}
/* .arrow span{
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
} */

/* Color of arrows change according to values */
.classGreen span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #00897b;
  border-right: 5px solid #00897b;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.classYellow span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #fbc02d;
  border-right: 5px solid #fbc02d;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.classOrange span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #fb8c00;
  border-right: 5px solid #fb8c00;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.classRed span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #e64a19;
  border-right: 5px solid #e64a19;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.classWhite span {
  display: block;
  width: 1px;
  height: 1px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  margin: -10px;
}
/* Negative value comes arrow flow reverse direction */
.arrow3-reverse {
  transform: rotate(90deg) !important;
  left: -28px;
  top: 45px;
}
.arrow1-reverse {
  transform: rotate(360deg) !important;
  top: 100px;
  left: 35px;
}

/* Zero value */
.disabled-link {
  pointer-events: none;
}

/* arrow flow speed and direction */
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
