body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#chartdiv {
  width: 100%;
  height: 500px;
}
/* g > :nth-of-type(1) {
  transform: translate(10em);
}
g > :nth-of-type(2) {
  transform: translate(10em);
}
g > :nth-of-type(3) {
  transform: translate(10em);
} */
